In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
AW_C = pd.read_csv("AdventureWorks_Customers.csv", encoding="latin1")
AW_PC = pd.read_csv("AdventureWorks_Product_Categories.csv")
AW_PSC = pd.read_csv("AdventureWorks_Product_Subcategories.csv")
AW_P = pd.read_csv("AdventureWorks_Products.csv")
AW_R = pd.read_csv("AdventureWorks_Returns.csv")
AW_T = pd.read_csv("AdventureWorks_Territories.csv")
AW_S = pd.read_csv("Sales.csv")

In [59]:
AW_T

   SalesTerritoryKey          Region         Country      Continent
0                  1       Northwest   United States  North America
1                  2       Northeast   United States  North America
2                  3         Central   United States  North America
3                  4       Southwest   United States  North America
4                  5       Southeast   United States  North America
5                  6          Canada          Canada  North America
6                  7          France          France         Europe
7                  8         Germany         Germany         Europe
8                  9       Australia       Australia        Pacific
9                 10  United Kingdom  United Kingdom         Europe

In [43]:
AW_S['CustomerKey'].duplicated().sum()

np.int64(38630)

In [56]:
# Checking for null values
datasets = { 
    'Customers': AW_C,
    'Product_Categories': AW_PC,
    'Product_SubCategories': AW_PSC,
    'Products': AW_P,
    'Returns': AW_R,
    'Territories': AW_T,
    'Sales': AW_S
}

for name, df in datasets.items():
    print(f"\n{name} Dataset - Null Values Summary:")
    print(df.isnull().sum())

Customers Dataset - Null Values Summary:
CustomerKey         0
Prefix            130
FirstName           0
LastName            0
BirthDate           0
MaritalStatus       0
Gender            130
EmailAddress        0
AnnualIncome        0
TotalChildren       0
EducationLevel      0
Occupation          0
HomeOwner           0
dtype: int64

Product_Categories Dataset - Null Values Summary:
ProductCategoryKey    0
CategoryName          0
dtype: int64

Product_SubCategories Dataset - Null Values Summary:
ProductSubcategoryKey    0
SubcategoryName          0
ProductCategoryKey       0
dtype: int64

Products Dataset - Null Values Summary:
ProductKey                0
ProductSubcategoryKey     0
ProductSKU                0
ProductName               0
ModelName                 0
ProductDescription        0
ProductColor             50
ProductSize               0
ProductStyle              0
ProductCost               0
ProductPrice              0
dtype: int64

Returns Dataset - Null Values Summary:
ReturnDate        0
TerritoryKey      0
ProductKey        0
ReturnQuantity    0
dtype: int64

Territories Dataset - Null Values Summary:
SalesTerritoryKey    0
Region               0
Country              0
Continent            0
dtype: int64

Sales Dataset - Null Values Summary:
OrderDate        0
StockDate        0
OrderNumber      0
ProductKey       0
CustomerKey      0
TerritoryKey     0
OrderLineItem    0
OrderQuantity    0
dtype: int64

In [57]:
# From the above conclusion we found that there are no null values

In [38]:
# Inorder to make any further analysis we need to first connect all the table and make one dataset
# I will be connecting all the dataset with the sales table

In [74]:
data = AW_S.copy()